.input {
  display: block;
  width: 100%;
  border: 1px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
}

.input:focus {
  border-color: blue;
}

.results {
  box-sizing: border-box;
  border: 1px solid #333;
  text-align: left;
  border-radius: 3px;
  box-shadow: -2px 2px 2px #ccc, 2px 2px 2px #ccc;
}

.results:empty {
  display: none;
}

.item {
  padding: 2px;
  cursor: pointer;
  border-radius: 3px;
}

.item:hover {
  background: #eee;
}
